<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@1.5/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@1.5/dist/vuetify.js"></script>
    <title>Cocktail App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <v-app id="app">
      <v-toolbar color="red lighten-3" dark fixed>
        <v-toolbar-title>Cocktail App</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn
          flat
          @click.stop="searchShown = !searchShown"
        >Search</v-btn>
        <v-switch
          v-model="isChartMode"
          label="ChartMode"
        ></v-switch>
        <!--
        <v-btn flat>Register / Login</v-btn>
        <v-btn
          flat
          @click.stop="mypageShown = !mypageShown"
        >Mypage</v-btn>
        -->
        <v-btn
          flat
          @click.stop="selectedShown = !selectedShown"
        >Favorite</v-btn>
      </v-toolbar>
      <h1 style="margin-bottom:2em;"></h1>
      <!--
      <v-navigation-drawer
        v-model="mypageShown"
        temporary
        :right="right"
        absolute
        dark
      >
        <v-list
          dense
          nav
          class="py-0"
        >
          <v-list-item two-line :class="miniVariant && 'px-0'">
            <v-list-item-avatar>
              <img src="https://randomuser.me/api/portraits/men/81.jpg">
            </v-list-item-avatar>
    
            <v-list-item-content>
              <v-list-item-title>Application</v-list-item-title>
              <v-list-item-subtitle>Subtext</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      -->
      <v-navigation-drawer
        v-model="selectedShown"
        temporary
        :right="right"
        absolute
        dark
      >
        <v-card style="margin:10px" v-for="cocktail in selectedCocktails" :key="cocktail.id" :key="cocktail.id">
          <v-card-title primary-title><h2>{{ cocktail["info"].name }}</h2></v-card-title>
          <v-spacer></v-spacer>
          <v-btn @click="showDetail(cocktail)" class="ma-2" color="red lighten-2" dark>Detail</v-btn>
        </v-card>
      </v-navigation-drawer>
      
      <v-dialog v-model="detailShown" width="800">
        <v-card>
          <v-card-title class="headline red lighten-3 white--text" primary-title>
            {{ detailedCocktail["info"].name }}
          </v-card-title>

          <v-card-text>
            <h3>{{ detailedCocktail["info"].description }}</h3>
            <h3>Taste</h3>
            <v-layout wrap>
              <v-flex xs3 sm3 md3 text-center>Alcohol {{ detailedCocktail["info"].alcohol }}</v-flex>
              <v-flex xs3 sm3 md3 text-center>Sourness {{ detailedCocktail["info"].sourness }}</v-flex>
              <v-flex xs3 sm3 md3 text-center>Sweetness {{ detailedCocktail["info"].sweetness }}</v-flex>
              <v-flex xs3 sm3 md3 text-center>Bitterness {{ detailedCocktail["info"].bitterness }}</v-flex>
    　       </v-layout>
    　       <h3>Ingredients</h3>
            <v-list dense>
              <v-list-tile v-for="ing in detailedCocktail['ingredientsAmount']">
                <v-list-tile-content>{{ ing.name }}:</v-list-tile-content>
                <v-list-tile-content class="align-end">{{ ing.amount }} ml</v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="ma-2" color="red" dark @click="detailShown=false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      
      <%= yield %>
    </v-app>
    <%= javascript_pack_tag 'main' %>
  </body>
</html>