<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@1.5/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@1.5/dist/vuetify.js"></script>
    <title>Cocktail App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <v-app id="app">
      <v-toolbar color="red lighten-3" dark fixed>
        <v-toolbar-title>Cocktail App</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn
          flat
          @click.stop="searchShown = !searchShown"
        >Search</v-btn>
        <v-btn flat>Register / Login</v-btn>
        <v-btn
          flat
          @click.stop="mypageShown = !mypageShown"
        >Mypage</v-btn>
      </v-toolbar>
      <h1 style="margin-bottom:2em;"></h1>
      <v-navigation-drawer
        v-model="mypageShown"
        temporary
        :right="right"
        absolute
        dark
      >
        <v-list
          dense
          nav
          class="py-0"
        >
          <v-list-item two-line :class="miniVariant && 'px-0'">
            <v-list-item-avatar>
              <img src="https://randomuser.me/api/portraits/men/81.jpg">
            </v-list-item-avatar>
    
            <v-list-item-content>
              <v-list-item-title>Application</v-list-item-title>
              <v-list-item-subtitle>Subtext</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <%= yield %>
    </v-app>
    <%= javascript_pack_tag 'main' %>
  </body>
</html>